@model IEnumerable<lssCore.Database.ServiceInformation>
@using lssCore.Services;
@{
    ViewBag.Title = "Index";
}



<p>
    @{ 
        if (ViewBag.AddressId != null)
        {
            @ViewBag.AddressId
            }
        }
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddOns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeXRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SquareFeetOfStructure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationGPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Schedule", "Index", "ScheduleEvent", new { serviceId = item.ServiceId, addressId=item.AddressId },null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddOns)
        </td>
        <td>
            @Utility.GetUDCValue(item.ServiceTypeXRefId)
          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
           
            @Utility.GetPersonName(item.AddressId)
        </td>
        <td>
            @Utility.GetContract(item.ContractId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SquareFeetOfStructure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationGPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}

</table>
