@model IEnumerable<lssCore.Database.ScheduleEvent>
@using lssCore.Services;

<h3>Employees Assigned to a Service Call</h3>
<p>
    @Html.ActionLink("Create New", "Create","ScheduleEvent",new { serviceId=ViewBag.ServiceId, addressId=ViewBag.AddressId })
</p>
Address Id: @ViewBag.AddressId<br />
Service Id: @ViewBag.ServiceId
@using (Html.BeginForm("Index", "ScheduleEvent", FormMethod.Get))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddressId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Utility.GetPersonName(item.EmployeeAddressId)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationMinutes)
        </td>
        <td>
           
            @Utility.GetPersonName(item.CustomerAddressId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    
}

</table>

}
@Html.ActionLink("Back to List", "Index","ServiceInformation",new { serviceId = ViewBag.ServiceId, addressId = ViewBag.AddressId },null)