@model lssCore.Database.Contract
@using lssCore.Services;
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
           @Utility.GetPersonName(Model.AddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTypeXRefId)
        </dt>

        <dd>
            @Utility.GetUDCValue(Model.ServiceTypeXRefId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
