@model IEnumerable<lssCore.Database.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index AddressId=@ViewBag.AddressId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeXRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypeXRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContractId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContractId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContractId })
        </td>
    </tr>
}

</table>
